@import url('https://fonts.googleapis.com/css?family=Open+Sans');



nav {
  height: 68px;
  width: 100%;
  background-color: #1cbbdd;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
@media screen and (min-width: 740px) {
nav {
 display: none;
}
nav ul {
  display: none;
}
nav li {
 display: none;
}
nav a {
 display: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
	
}	
@media screen and (max-width: 740px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #1cbbdd;
    border-bottom: 1px solid #1aaed3;
  
	}
  nav a:hover {
    background: #1498b9;
  }
  a:hover {
    background: #fff;
  }
	
	nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #1cbbdd;
    width: 100%;
    position: relative;
	float: left;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}



.row {
	margin: 0;
	padding: 0;
}

.background1 {
	margin:0;
	padding: 0;
	background-color: #1aaed3;
	height: 45px;
	width: 100%;
}
.menu1  {
	margin-top:10px;
	float: right;
	font-family: 'Open Sans';
}


.menu1 li {
	font-size:15px;
	color: #fff;
	font-family: 'Open Sans';
	display: inline;
	margin-right: 30px;
	
}


.menu1 ul li a {
	color: #fff;
	text-decoration: none;
}
.menu1 ul li a:hover {
	color: #F1F1F1;
}
@media screen and (max-width: 740px) {
	.background1{
		display: none;
	}
}


/* termina menu1 */
.margin-top {
	margin-top:  90px;
}
@media screen and (max-width: 740px){
	.margin-top {
		margin-top: 0px;
	}
}

.background2{
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color:#1cbbdd;
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 20;
}
.menu2  {
	
	margin-top:30px;
	float: right;
	
	
}


.menu2 li {
	font-size:15px;
	color: #fff;
	font-family: 'Open Sans';
	display: inline;
	margin-right: 30px;
	
}
.menu2 ul li a {
	color: #fff;
	text-decoration: none;
}
.menu2 ul li a:hover {
	color: #F1F1F1;
}
@media screen and (max-width: 740px) {
	.background2{
		display: none;
	}
}
/* termina menu2 */
.logo {
	margin-top:1em;
}
.background3 {
	margin: 0;
	padding: 0;
	
}
.banner1 {
	
	background-image: url(https://imgur.com/BT6ch7P.jpg);
	width: 100%;
	height:400px;
	
}
.text1 {
	text-align: center;
	padding-top: 50px;
}
@media screen and (max-width: 740px){
	.text1 {
	padding-top:10px;
	
	}
	}
 
	
	.animated {
	animation-duration: 2s!important;
	animation-timing-function:ease-in-out;
	
}


.text1 h1 {
	
	font-size: 90px;
	letter-spacing: 40px;
	font-weight: 800;
	color: #fff;
	margin-top: 80px;
}
@media screen and (max-width: 740px){
	.text1 h1 {
	font-size: 70px;
	margin-left: 15px;
	}
	}
 

.text1 h3 {
	font-family: 'Open Sans';
	font-size: 50px;
	color: #fff;
	font-weight:300!important;
	text-align: center;
	

}
.slogan h3 {
	color: #fff;
	text-align: center;
	font-size:30px;
}



.text2 {
	color: #fff;
	margin-left:14%;
}
@media screen and (max-width: 740px) {
	.text2 {
		margin-left: 10px;
	}
}
.background4 {
	
	
}

.background5 {
background: url(http://imgur.com/dNtaCXU.jpg)no-repeat;
	margin-top: 50px;
	height: 506px;
	margin-bottom: 50px;
	position: relative;
	z-index: 2;
		
	
}
@media screen and (max-width: 740px) {
	.background5 {
		background: none;
		height: 50px;
	}
	
}

@media screen and (max-width: 480px) {
	.background5 {
		background: none;
		height: 420px;
	}
	
}

.text3  {
	
	margin-top: -50px;
}
@media screen and (max-width: 1200px) {
	.text3 {
		margin-right: 5%;
	}
}
.text3 h1 {
	font-size:35px;
	
}
.text3 p {
	color:#acafb4;
	font-family:'Open Sans';
	font-size: 15px;
	
	
	
}
.background6 {
	margin: 0;
	padding: 0;
	background-image: url('http://imgur.com/MpmT0ti.jpg');
	height: 128px;
	margin-top: -50px;
}
@media screen and (max-width: 740px){
	.background6{
	margin-top: 460px;
	
	
	
	
	}
}



.background7 {
	
}
.text5 p {
	font-size: 15px;
	text-align: center;
	color: #fff;
	margin-top: 25px;
	line-height: 2em;
	
}
@media screen and (max-width: 1200px) {
	.text5 p {
		margin-top: 0px;
	}
}
@media screen and (max-width: 740px) {
	.text5 p {
		font-size: 21px;
	}
}




.background9 {
	margin: 0;
	padding: 0;
	margin-top: 50px;
}
@media screen and (max-width: 740px){
	.img3 {
		margin-top: 50px;
	}
	
}
.align {
	display: flex;
	align-items:center;
}
.align h3 {
font-size: 30px;
color: #1cbbdd;
font-weight: 500;
width: 15rem;
}
.text6 h1 {
	color: #1cbbdd;
	font-size: 40px;
	text-align: center;
	margin-top: 80px;
}



.text6 p {
	color: #b8bbbf;
	margin-top:15px;
	margin-left: 3rem;
	margin-right: 5rem;
	font-size: 15px;
	
	
	
}

@media screen and (max-width: 740px){
.img6{
	margin-top: 30px;
	
	}
	.img7 {
		margin-top:30px;
	}


}






/*rodapé*/
.background13 {
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 300px;
	width: 100%;
	margin-top: 50px;
}
@media screen and (max-width: 740px) {
	.background13 {
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 700px;
	width: 100%;
	margin-top: 50px;
}
	
}




.background14 {
	
}
.text7 p {
	text-decoration: none!important;
	font-size: 15px;
	color: #1cbbdd;
	margin-top: 75px;
	font-family: 'Open Sans';
}
.text7 h4 {
	text-decoration: none!important;
	font-size: 15px;
	color: #1cbbdd;
	margin-top: 75px;
	font-family: 'Open Sans';
}
@media screen and (max-width: 480px){
	.text7 h4 {
		margin-top: -0px;
	}
	.text7 {
		margin-top: 0px;
	}
	
	.text7 p {
	text-decoration: none!important;
	font-size: 15px;
	color: #1cbbdd;
	margin-top: 0px;
	font-family: 'Open Sans';
}



}
@media screen and (max-width: 740px){
	.text7 h4 {
		margin-top: -0px;
	}
}


.text7 h1 {
	
	font-size: 12px;
	color: #7d838e;
	
	
	
}

.text7 li {
	
	font-size: 15px;
	text-decoration: none!important;
	display:inline;
	
	

}
.text7 ul li a {
	text-decoration: none!important;
	color:#7d838e;
	
	
}
.img2 {
	margin-top: 80px;
	
}

@media screen and (max-width: 1200px) {
	.img2 {
		margin-top: 80px;
	}
}

@media screen and (max-width: 740px) {
	.img2 {
		transform: translateX(-200px);
		
	}
}
@media screen and (max-width: 480px) {
	.img2 {
		margin-top: 80px;
		transform:translate3d(-50px, -50px, 0px);	}
}



.img3 img {
	margin-left: 180px;
	border-radius: 5px;
}
@media screen and (max-width: 1200px) {
	.img3 {
		
		margin-left: -70px;
	}
}
@media screen and (max-width: 740px) {
	.img3 {
	margin-left: 30px;	
			
	}
}
@media screen and (max-width: 480px) {
	.img3 {
	margin-left: -40px;	
			
	}
}
.img4 img {
	margin-top: -200px;
	margin-left: 30px;
	border-radius: 5px;
}
@media screen and (max-width: 1200px) {
	.img4 {
		
		margin-left: -70px;
		
	}
}
@media screen and (max-width: 740px) {
	.img4 {
		
		margin-left: 30px;
	}
}
@media screen and (max-width: 480px) {
	.img4 {
		margin-left: -30px;
		
	}
}

.background16 {
	margin: 0;
	padding: 0;
	height: 2px;
	width: 100%;
	background: #1c2434;
	
	
}
.background17 {
	margin: 0;
	padding: 0;
	height: 2px;
	width: 100%;
	background: #283247;
}
.background18{
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 70px;
	width: 100%;
	
}
@media screen and (max-width: 740px){
	.background18{
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 110px;
	width: 100%;
	
}
	
}



.text8 h1{
	font-size: 15px;
	color: #1f8ca7;
	float: right;
	font-family: 'Open Sans';
}
