@import url('https://fonts.googleapis.com/css?family=Open+Sans');



nav {
  height: 68px;
  width: 100%;
  background-color: #1cbbdd;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
@media screen and (min-width: 740px) {
nav {
 display: none;
}
nav ul {
  display: none;
}
nav li {
 display: none;
}
nav a {
 display: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
	
}	
@media screen and (max-width: 740px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #1cbbdd;
    border-bottom: 1px solid #1aaed3;
  
	}
  nav a:hover {
    background: #1498b9;
  }
  a:hover {
    background: #fff;
  }
	
	nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #1cbbdd;
    width: 100%;
    position: relative;
	float: left;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}



.row {
	margin: 0;
	padding: 0;
}

.background1 {
	margin:0;
	padding: 0;
	background-color: #1aaed3;
	height: 45px;
	width: 100%;
}
.menu1  {
	margin-top:10px;
	float: right;
	font-family: 'Open Sans';
}


.menu1 li {
	font-size:15px;
	color: #fff;
	font-family: 'Open Sans';
	display: inline;
	margin-right: 30px;
	
}


.menu1 ul li a {
	color: #fff;
	text-decoration: none;
}
.menu1 ul li a:hover {
	color: #F1F1F1;
}
@media screen and (max-width: 740px) {
	.background1{
		display: none;
	}
}


/* termina menu1 */

.background2{
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color:#1cbbdd;
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 20;
}
.menu2  {
	
	margin-top:30px;
	float: right;
	
	
}


.menu2 li {
	font-size:15px;
	color: #fff;
	font-family: 'Open Sans';
	display: inline;
	margin-right: 30px;
	
}
.menu2 ul li a {
	color: #fff;
	text-decoration: none;
}
.menu2 ul li a:hover {
	color: #F1F1F1;
}
@media screen and (max-width: 740px) {
	.background2{
		display: none;
	}
}
/* termina menu2 */
.margin-top {
	margin-top:  90px;
}


.logo {
	margin-top:1em;
}
.background3 {
	margin: 0;
	padding: 0;
	
}
.banner1 {
	
	background-image: url(http://imgur.com/gpJoldo.jpg);
	width: 100%;
	height:400px;
	
}
.text1 {
	text-align: center;
	padding-top: 160px;
	
}
@media screen and (max-width: 740px) {
	.text1 {
		padding-top: 30px;
	}
}


.text1 h1 {
	
	font-size: 70px;
}



.text2 {
	color: #fff;
	margin-left:14%;
}
@media screen and (max-width: 740px) {
	.text2 {
		margin-left: 10px;
	}
}
.background4 {
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.00);
}

.background5 {
	margin: 0;
	padding: 0;
	background: url(http://imgur.com/p1488zx.png)no-repeat;
	margin-top: 50px;
	height: 1287px;
	margin-bottom: 50px;
	position: relative;
	z-index: 2;
}
@media screen and (max-width: 740px){
	.background5 {
		background:rgba(0,0,0,0.00);
		height: 1130px;
		z-index: 1;
	}
	
}
@media screen and (max-width: 480px){
	.background5 {
		background:rgba(0,0,0,0.00);
		z-index: 1;
		height:1350px;
	}
	
}
.text3 {
	margin-top: 60px;
	background-color: rgba(255,255,255,0.00);
}
.text3 h1 {
	font-size:40px;
	
}
.text3 p {
	color:#acafb4;
	font-family:'Open Sans';
	font-size: 15px;
}
	@media screen and (max-width: 1200px) {
	.text3 {
		padding-top: 10px;
	}
}
	
@media screen and (max-width: 740px){
	.text3 {
		margin-top: 0px;
	}
}	
	
.text10 {
	text-align: justify;
	
}

@media screen and (max-width: 740px){
	
	.text10 {
		text-align: left;
	}
	
}
.text10 h1 {
	font-size:40px;
	margin-top: -650px;
}
.text10 p {
	color:#acafb4;
	font-family:'Open Sans';
	font-size: 15px;
}
	@media screen and (max-width: 1200px) {
	.text10 h1 {
		margin-top:-700px;
	}
		
}	
_::-webkit-full-page-media, _:future, :root .safari_only {

 margin-top: 700px;
}	

.background6 {
	margin: 0;
	padding: 0;
	background:url(http://imgur.com/62Hcf3l.png);
	height: 619px;
	position: relative;
	z-index: 1;
	margin-top:-740px;
	
}
@media screen and (max-width: 740px){
	.background6 {
		margin-top: 10px;
		height: 0px;
		background:#fff;
	}
}
@media screen and (max-width: 480px){
	.background6 {
		margin-top: 10px;
		height: 40px;
		background:#fff;
	}
}


.text4 {
	margin: 0;
	padding: 0;
	color: #6f7580;
	text-align: center;
	margin-top: -180px;
	margin-left: 30%;
	margin-right: 30%;
}
@media screen and (max-width: 1200px) {
	.text4 {
		margin-left: 340px;
		text-align: left;
		margin-top: -240px;
	}
}
.text11 h1 {
	font-size: 40px;
	color:#fff;
	text-align: center;
	
}
.text11 p {
	font-size: 15px;
	color: #fff;
	margin-top: 50px;
	text-align: center;
}


.background7 {
	background-image: url(http://imgur.com/QrWom8S.png);
	height: 1287px;
	margin: 0;
	padding: 0;
	
}
@media screen and (max-width: 740px){
	.background7 {
		background: #1cbbdd;
		height: 3000px;
	}
}
.background9 {
	margin: 0;
	padding: 0;
	background-color: #ececec;
}

.background8 {
	margin: 0;
	padding: 0;
}
.card {
	margin-top: px;
	border-radius: 10px!important;
	position: relative;
	}

.card-img {
	position: absolute;
	margin-left: 50%;
	transform:translateX(-48px);
	margin-top: -40px;
	z-index: 12;
}
.card-body {
		background: #fff;
		height: 280px;
		border-radius: 13px;
		opacity: 1;	
		border: 1px inset rgba(0,170,205,0.30);

}
@media screen and (max-width: 740px){
	.card-body {
		height: 370px;
	}
}
.slogan h3 {
	color: #fff;
	text-align: center;
	font-size:30px;
}
.animated {
	animation-duration: 2s!important;
	animation-timing-function:ease-in-out;
	
}


.card-title  {
	padding-top: 50px;
	text-align: center;
	font-size: 30px;
	color: #1cbbdd;
}
.card-text {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15px!important;
	text-align:center;
	color: #969ca6!important;
}
.card-space {
	margin-top: 40px;
}
@media screen and (max-width:740px){
	.card-space {
		margin-top: 0px;
	}
}
@media screen and (max-width:740px){
	.card-space2 {
		margin-top: 50px;
	}
}
.background10{
	margin: 0;
	padding: 0;
		
	background-image: url(http://imgur.com/vmiMv66.jpg);
	background-position: center;
	width: 100%;
	height: 465px;
	margin-top: 50px;
}
.text5 {
	text-align: center;
	margin-top: 200px;
	font-size: 15px;
	color: #fff;
}
	.text5 h1 {
	text-align: center;
	margin-top: 200px;
	font-size: 15px;
	color: #fff;
}
.text6 {
	
	text-align: center;
	font-size: 18px;
	color: #fff;
}

	

.background13 {
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 300px;
	width: 100%;
	margin-top: 0px;
}
@media screen and (max-width: 740px) {
	.background13 {
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 700px;
	width: 100%;
	margin-top: 0px;
}
	
}




.background14 {
	
}
.text7 p {
	text-decoration: none!important;
	font-size: 15px;
	color: #1cbbdd;
	margin-top: 75px;
	font-family: 'Open Sans';
}
.text7 h4 {
	text-decoration: none!important;
	font-size: 15px;
	color: #1cbbdd;
	margin-top: 75px;
	font-family: 'Open Sans';
}
@media screen and (max-width: 480px){
	.text7 h4 {
		margin-top: -0px;
	}
	.text7 {
		margin-top: 0px;
	}
	
	.text7 p {
	text-decoration: none!important;
	font-size: 15px;
	color: #1cbbdd;
	margin-top: 0px;
	font-family: 'Open Sans';
}



}
@media screen and (max-width: 740px){
	.text7 h4 {
		margin-top: -0px;
	}
}


.text7 h1 {
	
	font-size: 12px;
	color: #7d838e;
	
	
	
}

.text7 li {
	
	font-size: 15px;
	text-decoration: none!important;
	display:inline;
	
	

}
.text7 ul li a {
	text-decoration: none!important;
	color:#7d838e;
	
	
}
.img2 {
	margin-top: 80px;
	
}

@media screen and (max-width: 1200px) {
	.img2 {
		margin-top: 80px;
	}
}

@media screen and (max-width: 740px) {
	.img2 {
		transform: translateX(-200px);
		
	}
}
@media screen and (max-width: 480px) {
	.img2 {
		margin-top: 80px;
		transform:translate3d(-50px, -50px, 0px);	}
}



.img3 img {
	margin-left: 180px;
	border-radius: 5px;
}
@media screen and (max-width: 1200px) {
	.img3 {
		
		margin-left: -70px;
	}
}
@media screen and (max-width: 740px) {
	.img3 {
	margin-left: 30px;	
			
	}
}
@media screen and (max-width: 480px) {
	.img3 {
	margin-left: -40px;	
			
	}
}
.img4 img {
	margin-top: -200px;
	margin-left: 30px;
	border-radius: 5px;
}
@media screen and (max-width: 1200px) {
	.img4 {
		
		margin-left: -70px;
		
	}
}
@media screen and (max-width: 740px) {
	.img4 {
		
		margin-left: 30px;
	}
}
@media screen and (max-width: 480px) {
	.img4 {
		margin-left: -30px;
		
	}
}

.background16 {
	margin: 0;
	padding: 0;
	height: 2px;
	width: 100%;
	background: #1c2434;
	
	
}
.background17 {
	margin: 0;
	padding: 0;
	height: 2px;
	width: 100%;
	background: #283247;
}
.background18{
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 70px;
	width: 100%;
	
}
@media screen and (max-width: 740px){
	.background18{
	margin: 0;
	padding: 0;
	background-color: #232b3b;
	height: 110px;
	width: 100%;
	
}
	
}



.text8 h1{
	font-size: 15px;
	color: #1f8ca7;
	float: right;
	font-family: 'Open Sans';
}
